/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

li {
    list-style: none;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    max-width: 600px;
    /* Ajusta el ancho máximo según sea necesario */
}

input[type="text"] {
    display: inline !important;
    width: 20px !important;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 0;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    border-radius: 3px;
    outline: none;
}

input[type="button"] {
    padding: 10px;
    font-size: 14px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    float: right !important;
    margin-right: 10px !important;
}


p {
    display: inline !important;
}

.cursiva {
    font-style: italic;
}

.colEntrada {
    margin-bottom: 20px;
}

.correccion {
    font-size: 14px !important;
}

#traduccion {
    margin-top: 0 !important;
}

