body {
    font-size: 18px;
}

h1 {
    margin-left: 20px;
}

#listado {
    padding: 0 35px 35px 35px;
}

.ejemplo {
    font-style: italic;
    margin-left: 30px;
}

.sangria {
    margin-left: 30px;
}

.italica {
    font-style: italic;
}

.sep {
    margin-top: 30px;
}

.centrar {
    text-align: center;
}

tr {
    border: 1px solid black; 
}

th {
    border: 1px solid black; 
}

td {
    padding: 5px;
    border: 1px solid black; 
}

.oculto {
    display: none;
}

h2 {
    display: inline;
    font-size: 26px;
}

button {
    display: inline;
}

button {
    border-radius: 5px;
    width: 24px;
}

img {
    border-radius: 10px;
}

.margen {
    margin: 30px;
}

.inline {
    display: inline;
}

.toggle-btn {
    margin-bottom: 10px;
}

.toggle-btn span {
    font-weight: bold;
}

.seccion {
    padding-left: 15px;
    margin-bottom: 15px;
    border: white 1px solid;
}

table {
    padding: 10px;
}