
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-weight: bold;
    display: inline-block;
}

.info-icon {
    font-weight: 700;
    font-style: oblique;
    border-radius: 50%;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 5px;
}

th,
td {
    padding: 10px;
    text-align: left;
}

input[type="text"] {
    width: 100px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 0;
}

input[type="button"] {
    padding: 10px;
    font-size: 14px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    float: right !important;
    margin-right: 10px !important;
}

.declensionTestTable {
    display: inline-block;
    width: 45%; /* Set width to less than half of the available space */
    margin-right: 10px; /* Add some space between the tables */
    vertical-align: top; /* Align the tables at the top */
    box-sizing: border-box; /* Include padding and border in the width */
}

.colEntrada {
    margin-bottom: 20px;
}

.correccion {
    font-size: 14px !important;
}

#traduccion {
    margin-top: 0 !important;
}

table {
    border-collapse: collapse;
}

th, tr, td {
    border: 1px solid white;
}

.triple {
    width: 97% !important;
}

input[type="text"] {
    border: none;
    outline: none;
}